// ブレイクポイントのマップ定義
$breakpoints: (
  sm: 600px,
  md: 768px,
  lg: 900px,
  xl: 1280px
);

// メディアクエリ用のミックスイン
@mixin mq($breakpoint) {
  @media screen and (min-width: #{map-get($breakpoints, $breakpoint)}) {
    @content;
  }
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.header{
  height: 68px;
  @include mq(md) {
    height: 120px;
  }

}

.header__inner{
  padding-inline: 20px;
}

.sp-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 7px 6px;
  // gap: 76px;
  @include mq(md) {
    display: none;
  }
}
.sp-header__logo {
  max-width: 100%;
  img{
    width: 76px;
    height: 54.702px;
  }
}

  .hamburger {
    width: 24px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: none;
    border: none;
    cursor: pointer;

    span {
      display: block;
      height: 2px;
      background: #333;
    }

    span:nth-child(1) {
      width: 100%; // 一番長い
    }
  
    span:nth-child(2) {
      width: 70%; // 中間
    }
  
    span:nth-child(3) {
      width: 50%; // 一番短い
    }
  }



.header__button {
  background: linear-gradient(to right, #8B6C3A 0%, #B19464 50%, #8B6C3A 100%);
  color: white;
  padding: 12px 28px;
  border-radius: 4px;
  font-size: 14px;
  font-family: "Yu Mincho";
  font-weight: 600;
  letter-spacing: 2.8px;
  margin-inline: 76px 21px;
  @include mq(md) {
    margin-inline: 57px 0;
  }
}

//  PCヘッダーのスタイル
.pc-header {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}
.pc-nav{

}

.pc-nav__lists {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 13px;
  gap: 32px;
}
.pc-nav__list{
  display: flex;
  gap: 20px;
}

.pc-headr__logo {
  max-width: 100%;
  img{
    width: 130px;
    height: 93.378px;
    margin-inline: -9px;
  }
}
.pc-nav__link{
  color: #393327;
  font-family: Lora;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px; /* 106.667% */
  letter-spacing: 1.5px;
}
