$Minchou :"Yu Mincho", "游明朝", "YuMincho", serif;
$Lora: "Lora", serif;

$black:#393327;
$white: #FFFFFF;
$accent-brown: #8B6C3A;


// ブレイクポイントのマップ定義
$breakpoints: (
  sm: 600px,
  md: 768px,
  lg: 900px,
  xl: 1280px
);

// メディアクエリ用のミックスイン
@mixin mq($breakpoint) {
  @media screen and (min-width: #{map-get($breakpoints, $breakpoint)}) {
    @content;
  }
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.sp-hide{
  display: block;
  @include mq(md) {
    display: none;
  }
}
.pc-hide{
  display: none;
  @include mq(md) {
    display: block;
  }
}
.section__inner{

}

.header{
  height: 68px;
  @include mq(md) {
    height: 120px;
  }

}

.header__inner{
  padding-inline: 20px;
  @include mq(md) {
    padding-inline: 190px;
  }
}

.sp-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 7px 6px;
  // gap: 76px;
  @include mq(md) {
    display: none;
  }
}
.sp-header__logo {
  max-width: 100%;
  img{
    width: 76px;
    height: 54.702px;
  }
}

.header__button {
  background: linear-gradient(to right, $accent-brown 0%, #B19464 50%, $accent-brown 100%);
  color: white;
  padding-block: 8px;
  padding-inline: 27px;
  border-radius: 2px;
  font-size: 14px;
  font-family: $Minchou;
  font-weight: 600;
  letter-spacing: 2.8px;
  margin-inline: 73px 20px;
  margin-bottom: 6px;

  @include mq(md) {
    padding-block: 12px;
    padding-inline: 41px;
    margin-inline: 0;
    font-size: 16px;
    margin-block: 0 3px;
    &:hover{
      opacity: 0.7;
    }
  }
}

.hamburger {
  width: 28px;
  height: 21px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6px;
  background: none;
  border: none;
  cursor: pointer;
  margin-bottom: 5px;

  span {
    display: block;
    height: 0.5px;
    background: #333;
  }

  span:nth-child(1) {
    width: 90%;
  }

  span:nth-child(2) {
    width: 70%;
  }

  span:nth-child(3) {
    width: 50%;
  }

  &.active span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }

  &.active span:nth-child(2) {
    opacity: 0;
  }

  &.active span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
    width: 90%;
  }
}

.drawer-menu {
  position: fixed;
  top: 68px;
  right: -100%;
  width: 250px;
  // height: 602px;
  height: 100vh;
  background-color: #fff;
  z-index: 1000;
  transition: right 0.3s ease;
  overflow-y: auto;

  &.active {
    right: 0;
  }

}
.drawer-menu-lists{
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-block: 55px 0;
}
.drawer-menu-list{

}
.drawer-menu-link{
  color: $black;
  font-family: $Lora;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 1.6px;
}

.drawer__sns-icons{
  display: flex;
  flex-direction: row;
  margin-block: 56px 90px;
  gap: 24px;
  text-align: center;
  justify-content: center;
  align-items: center;

}
.drawer__sns-icon{

  img{

  }
}

// オーバーレイ（背景マスク）
.overlay {
  position: fixed;
  top: 68px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(140, 109, 59, 0.70);
  z-index: 999; // ヘッダーより下、メニューより下
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

// ドロワーが開いている時に表示
.overlay.is-active {
  opacity: 1;
  pointer-events: auto;
}


//  PCヘッダーのスタイル
.pc-header {
  display: none;

  @media (min-width: 768px) {
    display: block;
    height: 120px;
  }
}
.pc-nav{

}

.pc-nav__lists {
  display: grid;
  grid-template-columns: repeat(8, auto);
  justify-content: center;
  align-items: center;
  padding-block: 11px 9px;
  gap: 24px;
}
.pc-nav__list{
  display: flex;
}

.pc-headr__logo {
  max-width: 100%;
  padding-top: 2px;
  // margin-inline:24px;
  img{
    // width: 130px;
    height: 93.378px;
  }
}
.pc-nav__link{
  color: $black;
  font-family: $Lora;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px; /* 106.667% */
  letter-spacing: 1.5px;
}
.profile__link{
  
}
.feature__link{
  
}
.voice__link{

}
.price__link{

}
.question__link{

}
.access__link{
  margin-right: 57px;
}

.line__link {
  margin-left: 0;
}


// mv
.mv{
  font-family: $Minchou;
  background-image: url(../image/mv-bg.png);
  background-position: 51% center;
  background-size: cover;
  background-repeat: no-repeat;
  @include mq(md) {
    background-image: url(../image/PC/mv-bg.png);
    height: 681px;
  }
}
.mv__inner{
  padding-block: 37px 0px;
  @include mq(md) {
    padding-inline: 191px 97px;
    padding-block: 0;
  }
}
.mv__container{
  display: flex;
  flex-direction: column;
  // gap: 12px;

}
.mv-text__wrpper{
  @include mq(md) {
    padding-top: 220px;
  }
}
.mv-title{
  color: $black;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px; /* 150% */
  letter-spacing: 2.4px;
  padding-inline: 55px;
  padding-block: 0 11px;
  @include mq(md) {
    text-align: left;
    font-size: 40px;
    line-height: 60px; /* 150% */
    letter-spacing: 4px;
    padding-block: 0 28px;
    padding-inline: 0;
  }
}
.mv-title__middle{
  font-size: 22px;
  letter-spacing: 2.2px;
  @include mq(md) {
    font-size: 32px;
    line-height: 60px;
    letter-spacing: 3.2px;
  }
}
.mv-title__small{
  font-size: 20px;
  letter-spacing: 2px;
  @include mq(md) {
    font-size: 33px;
  }
}
.mv-text{
  color: $black;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px; /* 150% */
  // margin-block: 0 -50px;
  display: grid;
  justify-content: center; /* 水平中央のみ */
  margin-inline: 0 10px;
  @include mq(md) {
    font-size: 22px;
    font-weight: 400;
    line-height: 33px; /* 150% */;
    justify-content: left;
  }
}
.mv-image{
  max-width: 100%;
  margin-block: -49px 0;
  margin-inline: 15px 0;
  img{
    display: block;
    max-width: 100%;
    height: auto; // or 指定高さを使うなら height: 449px; でもOK
  }
  @include mq(md) {
    display: none;
  }
}


// voice
.voice{
  font-family: $Minchou;
}
.voice__inner{
  padding-block: 56px 0;
  padding-inline: 20px;
  @include mq(md) {
    padding-inline: 191px;
    padding-top: 96px;
  }
}
.voice-title{
  color: $accent-brown;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px; /* 150% */
  letter-spacing: 1px;
  padding-bottom: 40px;
  @include mq(md) {
    font-size: 32px;
    line-height: 48px; /* 150% */
    letter-spacing: 3.2px;
  }
}
.voice-container{
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.voice-card{
  color: $black;
  @include mq(md) {
    display: flex;
    flex-direction: row-reverse;
  }
}
.voice-card__second{
  @include mq(md) {
    flex-direction: row;
  }
}
.voice-card__image{
  @include mq(md) {
    width: 81%;
    // height: 498px;
    overflow: hidden; // はみ出し防止（必要に応じて）
    img{
      width: 100%;
      height: 100%;
      object-fit: cover; // or contain
      display: block;
    }
  }
}
.voice__image1{
@include mq(md) {
  padding-left: 95px;
}
  img{

  }

}
.voice__image2{
  @include mq(md) {
    padding-right: 103px;
  }
  img{

  }
}
.voice__image3{
  @include mq(md) {
    padding-left: 90px;
  }
  img{

  }
}
.voice-card__heading{
  font-size: 18px;
  font-weight: 600;
  line-height: 27px; /* 150% */
  letter-spacing: 0.9px;
  padding-block: 17px 11px;
  @include mq(md) {
font-size: 24px;
line-height: 36px; /* 150% */
letter-spacing: 2.4px;
  }
}
.voice-comment__text{
  font-size: 16px;
  font-weight: 400;
  line-height: 28.8px; /* 180% */
  letter-spacing: 0.32px;
  padding-bottom: 12px;
  @include mq(md) {
    line-height: 32px; /* 200% */
    letter-spacing: 0.8px;
  }
}
.voice-meta__text{
  font-size: 14px;
  font-weight: 400;
  line-height: 21px; /* 150% */
  letter-spacing: 0.7px;
  @include mq(md) {
    font-size: 16px;
    line-height: 24px; /* 150% */
    letter-spacing: 0.8px;
    text-align: right;
  }
}